@model IEnumerable<PayTrack.Models.Leave>


    <div class="container mt-4">

    <a asp-action="CreateOrEdit" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle"></i> Create New Leave
    </a>

    <table class="table-striped table-bordered table table-hover align-middle">
        <thead class="text-center table-primary">
            <tr>
                <th>ID</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>LeaveType</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td>@item.EndDate.ToShortDateString()</td>
                    <td>@item.LeaveType</td>
                    <td>@item.Status</td>
                    <td class="">
                        <div class="d-flex justify-content-center m-2">
                            <a asp-action="CreateOrEdit" asp-route-id="@item.ID" class="btn btn-primary m-1"> <i class="bi bi-pencil-square"></i></a>
                           <form class="m-1" method="post" asp-action="Delete" asp-route-id="@item.ID" onclick="return confirm('Are You Sure Delete this Data')">
                               <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                               </button>
                           </form>
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary m-1"> <i class="bi bi-eye"></i></a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    </div>